<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
      <listener class-name="Vtiger.ListenerClass"></listener>
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Vtiger.Tests.CreateContactAndSinoutTest"/>
      <class name="com.Vtiger.Tests.CreateOrganizationTest"/>
      <class name="com.Vtiger.Tests.CreateCampaignsAndDeleteTest"/>
      <class name="com.Vtiger.Tests.CreatecontactAndDeleteOneByOneTest"/>
      <class name="com.Vtiger.Tests.CreateOrganizationTestCaseAndVerifyTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
